<h2>Hello football, this is Bebola. We compile all the information in the internet related to football in Malaysia, so you do not have to do it yourself.</h2>
<%= link_to 'Bebola', controller: 'articles' %>
